In [1]:
# Load relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings
from sklearn.cluster import KMeans

In [9]:
carmax_df = pd.read_csv('CaseDataRemodeled.csv')

In [17]:
import requests
from bs4 import BeautifulSoup as bsoup
    
#assign variable for url from which we acquire html data
search_url = 'https://en.wikipedia.org/wiki/Automotive_industry'
                
#use requests pack to pull dat. Headers makes it think browser and not programatic
response = requests.get(search_url, headers={
            "User-Agent": "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36"}).content
            
""" parse html """
parsed_html = bsoup(response, 'lxml')
""" initialize results list """
my_result_list = []

#for loop to dig into the table and create a list of lists
for result in parsed_html.find_all('tr')[64:133]:
    results1 = result.find_all('td')
    temp = []
    for i in results1:
        temp.append(i.text.strip().upper())
    try:
        my_result_list.append([temp[0],temp[1]])
    except:
        continue

In [33]:
manualMake = [['BMW', 'GERMANY'],
             ['HUMMER', 'UNITED STATES'],
             ['ISUZU', 'JAPAN'],
              ['JAGUAR', 'UNITED KINGDOM'],
              ['LAND ROVER', 'UNITED KINGDOM'],
              ['LOTUS', 'UNITED KINGDOM'],
              ['MAZDA', 'JAPAN'],
              ['MERCEDES-BENZ', 'GERMANY'],
              ['MERCURY', 'UNITED STATES'],
              ['MINI', 'UNITED KINGDOM'],
              ['MITSUBISHI', 'JAPAN'],
              ['OLDSMOBILE', 'UNITED STATES'],
              ['PONTIAC', 'UNITED STATES'],
              ['SAAB', 'SWEDEN'],
              ['SATURN', 'UNITED STATES'],
              ['SCION', 'UNITED STATES'],
              ['SMART', 'SWITZERLAND'],
              ['SUBARU', 'JAPAN'],
              ['SUZUKI', 'JAPAN'],
              ['VOLVO', 'SWEDEN']]

In [34]:
for i in manualMake:
    my_result_list.append(i)

In [36]:
made_in = []
for i in range(len(list(carmax_df['purchase_make']))):
    carMade = 'NF'
    for manufacturer, country in my_result_list:
        if carmax_df['purchase_make'][i] == manufacturer:
                carMade = country
                break
        else:
            continue
    
    made_in.append(carMade)

In [37]:
np.unique(np.array(made_in))

array(['GERMANY', 'ITALY', 'JAPAN', 'SOUTH KOREA', 'SWEDEN',
       'SWITZERLAND', 'UNITED KINGDOM', 'UNITED STATES'], dtype='<U14')

In [38]:
carmax_df['made_in'] = made_in

In [39]:
carmax_df.groupby('made_in').count()

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,purchase_price_UB,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases,AgeBin,purchase_class
made_in,,,,,,,,,,,,,,,,,
GERMANY,36447,36447,36447,36445,36445,36447,36447,36447,36447,36447,36447,35861,36447,36447,36447,36447,36447
ITALY,802,802,802,802,802,802,802,802,802,802,802,791,802,802,802,802,802
JAPAN,143785,143785,143785,143785,143785,143785,143785,143785,143785,143785,143785,141551,143785,143785,143785,143785,143785
SOUTH KOREA,23299,23299,23299,23299,23299,23299,23299,23299,23299,23299,23299,22934,23299,23299,23299,23299,23299
SWEDEN,1639,1639,1639,1639,1639,1639,1639,1639,1639,1639,1639,1607,1639,1639,1639,1639,1639
SWITZERLAND,683,683,683,683,683,683,683,683,683,683,683,666,683,683,683,683,683
UNITED KINGDOM,4674,4674,4674,4673,4673,4674,4674,4674,4674,4674,4674,4606,4674,4674,4674,4674,4674
UNITED STATES,144545,144545,144545,144545,144545,144545,144545,144545,144545,144545,144545,141755,144545,144545,144545,144545,144545

In [40]:
carmax_df.to_csv('CaseDataRemodeled.csv', index = False)